@import '../../styles/mixins';

.plant-passports-default-page {
  // text-align: center;
  // .app {
  //   text-align: center;
  // }

  .introduction {
    font-size: 10pt
  }

  .app-logo {
    animation: app-logo-spin infinite 10s linear;
    height: 80px;
  }

  .rekit-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.08;
    height: 190px;
  }

  .app-header {
    background-color: #222;
    // height: 100px;
    padding: 20px;
    color: white;
    overflow: hidden;
    position: relative;

    h1 {
      margin-bottom: 10px;
    }
    h6 {
      margin-top: 0;
      font-style: italic;
    }
    p {
      margin-bottom: 5px;

    }
    ul {
      margin-top: 10px;
      margin-left: 20px;
      li {
        list-style-type: disc;
        margin-top: 0;
        margin-bottom: 2px;
        color: grey;
      }
    }
  }

  .app-title {
    font-size: 1.5em;
  }

  .app-intro {
    font-size: large;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-top: 20px;
  }
  li {
    margin-top: 10px;
  }

  a {
    color: #0288d1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p.memo {
    width: 500px;
    color: #999;
    font-size: 12px;
    line-height: 150%;
    margin: auto;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
